In [14]:
import pandas as pd
import seaborn as sns

In [15]:
data_raw = pd.read_csv('data_raw.csv').drop('Unnamed: 0', axis=1)
data_raw

,rcsb_id,resolution,matthews,percent_solvent,method,pH,temp,organism,sequence,conditions
0,101M,2.07,3.09,60.20,NaN,9.0,NaN,Physeter catodon,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
1,102L,1.74,2.75,55.28,NaN,NaN,NaN,Escherichia virus T4,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,NaN
2,102M,1.84,3.09,60.20,NaN,9.0,NaN,Physeter catodon,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
3,103L,1.90,2.70,54.46,NaN,NaN,NaN,Escherichia virus T4,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,NaN
4,103M,2.07,3.09,60.30,NaN,9.0,NaN,Physeter catodon,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
...,...,...,...,...,...,...,...,...,...,...
118775,9RSA,1.80,2.25,45.45,NaN,NaN,NaN,Bos taurus,KETAAAKFERQHMDSSTSAASSSNYCNQMMKSRNLTKDRCKPVNTF...,NaN
118776,9RUB,2.60,2.38,48.29,NaN,NaN,NaN,Rhodospirillum rubrum,MDQSSRYVNLALKEEDLIAGGEHVLCAYIMKPKAGYGYVATAAHFA...,NaN
118777,9WGA,1.80,2.50,50.76,NaN,NaN,NaN,Triticum aestivum,QRCGEQGSNMECPNNLCCSQYGYCGMGGDYCGKGCQNGACWTSKRC...,NaN
118778,9XIA,1.90,2.79,55.93,NaN,NaN,NaN,Streptomyces rubiginosus,MNYQPTPEDRFTFGLWTVGWQGRDPFGDATRRALDPVESVQRLAEL...,NaN
118779,9XIM,2.40,3.96,68.92,NaN,NaN,NaN,Actinoplanes missouriensis,SVQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIG...,NaN

In [19]:
data_process = data_raw.drop(['method','temp'], axis=1)
data_process['pH'] = data_process['pH'].fillna(7.0)
data_process = data_process.dropna(axis=0)

In [17]:
data_out = data_process.reset_index()
data_out.to_csv('data_temp1.csv')