In [3]:
import pandas as pd

In [11]:
data_raw = pd.read_csv('data_raw.csv').drop('Unnamed: 0', axis=1)
data_raw

,rcsb_id,resolution,matthews,percent_solvent,method,pH,temp,organism,sequence,conditions
0,101M,2.07,3.09,60.20,NaN,9.0,NaN,NaN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
1,102L,1.74,2.75,55.28,NaN,NaN,NaN,NaN,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,NaN
2,102M,1.84,3.09,60.20,NaN,9.0,NaN,NaN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
3,103L,1.90,2.70,54.46,NaN,NaN,NaN,NaN,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,NaN
4,103M,2.07,3.09,60.30,NaN,9.0,NaN,NaN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
...,...,...,...,...,...,...,...,...,...,...
118775,9RSA,1.80,2.25,45.45,NaN,NaN,NaN,NaN,KETAAAKFERQHMDSSTSAASSSNYCNQMMKSRNLTKDRCKPVNTF...,NaN
118776,9RUB,2.60,2.38,48.29,NaN,NaN,NaN,NaN,MDQSSRYVNLALKEEDLIAGGEHVLCAYIMKPKAGYGYVATAAHFA...,NaN
118777,9WGA,1.80,2.50,50.76,NaN,NaN,NaN,NaN,QRCGEQGSNMECPNNLCCSQYGYCGMGGDYCGKGCQNGACWTSKRC...,NaN
118778,9XIA,1.90,2.79,55.93,NaN,NaN,NaN,NaN,MNYQPTPEDRFTFGLWTVGWQGRDPFGDATRRALDPVESVQRLAEL...,NaN
118779,9XIM,2.40,3.96,68.92,NaN,NaN,NaN,NaN,SVQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIG...,NaN

In [15]:
data_process = data_raw.dropna(axis=0,subset=['conditions'])
data_process = data_process.dropna(axis=0,subset=['sequence'])
data_process

,rcsb_id,resolution,matthews,percent_solvent,method,pH,temp,organism,sequence,conditions
0,101M,2.07,3.09,60.20,NaN,9.0,NaN,NaN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
2,102M,1.84,3.09,60.20,NaN,9.0,NaN,NaN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
4,103M,2.07,3.09,60.30,NaN,9.0,NaN,NaN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ..."
6,104M,1.71,1.87,34.30,NaN,7.0,NaN,NaN,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,"3.0 M AMMONIUM SULFATE, UNBUFFERED, pH 7.0"
7,105M,2.02,1.83,33.00,NaN,9.0,NaN,NaN,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,"3.0 M AMMONIUM SULFATE, UNBUFFERED, pH 9.0"
...,...,...,...,...,...,...,...,...,...,...
118762,9GSS,1.97,2.56,51.96,NaN,6.0,NaN,NaN,PPYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKAS...,pH 6.0
118765,9ILB,2.28,3.36,60.00,NaN,8.5,NaN,NaN,APVRSLNCTLRDSQQKSLVMSGPYELKALHLQGQDMEQQVVFSMSF...,pH 8.5
118766,9JDW,2.50,3.83,68.00,NaN,7.0,NaN,NaN,STQAATASSRNSCAADDKATEPLPKDCPVSSYNEWDPLEEVIVGRA...,pH 7.0
118769,9MSI,2.60,2.10,41.56,NaN,5.5,NaN,NaN,ANQASVVANQLIPINTALNLVMMRSEVVTPVGIPAEDIPRLVSMQV...,pH 5.5
118770,9NSE,2.24,2.41,50.00,NaN,6.5,NaN,NaN,SRAPAPATPHAPDHSPAPNSPTLTRPPEGPKFPRVKNWELGSITYD...,pH 6.5